body {
    font-family: "Open Sans";
    display: flex;
    flex-direction: column;
    flex-wrap:1;
    padding:1rem;
}
h1 {
    font-size: 2rem;
    margin-bottom:2rem;
}
h2 {
    font-size: 1.5rem;
    margin-bottom:1rem;
}
section {
    min-height: 10rem   ;
    padding:1rem;
    margin:1rem;
    border:1px solid gray;
    display:flex;
    flex-direction: column;
}
.open-status-section h2 {
    color: white;
}
.open-status-section {
    background-color: black;
}

.open-status {
    color:white;
    background-color: #238636;
    padding:0.6rem 1rem;
    border-radius: 100px;
    font-weight:600;
    width:fit-content;
}
.section-body {
    flex-grow: 1;
    display: grid;
    place-content: center;
}



body, html {
    height:100%;
    width:100%;
}